<div class="container">
    <div class="content-form">
        <form #formLogin="ngForm" (ngSubmit)="loginData(formLogin)">
            <h4 class="text-uppercase text-center mb-4">Iniciar sesión</h4>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control"  id="email" type="email" [(ngModel)]="user.email" name="email" required/>
                <small *ngIf="formLogin.submitted && formLogin.controls['email'].errors" class="form-text text-danger font-weight-bold">Instroduzca un valor valido</small>
            </div>

            <div class="form-group">                
                <label for="password">Contraseña: </label>
                <input class="form-control" id="password" type="password" [(ngModel)]="user.password" name="password" required/>
                <small *ngIf="formLogin.submitted && formLogin.controls['password'].errors" class="form-text text-danger font-weight-bold">Instroduzca un valor valido</small>
            </div>
    
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" >No tengo cuenta, quiero crear una</a>
    
            <button type="submit" class="btn btn-primary w-100 mt-3 py-3 text-uppercase">Iniciar sesión</button>
        </form>
    </div>
</div>
